Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteEngine on

# Exclude certain directories from rewrite rules
RewriteRule ^(system|application|uploads|vendor|\.git|\.svn|\.hg) - [L]

RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]